/*
button{
    background-color: blue;
    font-size: 16px;
    padding: 10px 10px;
    color: white;
    width: 80px;
}

.Count{
    font-size: 80px;
    padding: 20px 20px;
    text-align: left;

}

.Reset{
    width : 200px;
    padding: 20px 20px;
    background-color: green;

}
*/